<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mini Ping</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="base.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="style.css") }}">
  </head>
  <body>
    <header>
      <h1>MiniPing</h1>

      <nav>
        <a href="{{ url_for("home") }}">Home</a>
        <a href="{{ url_for("about") }}">About</a>
      </nav>
    </header>

    <section>

      {% block content %}
      {% endblock %}

    </section>

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="{{ url_for("static", filename="script.js") }}"></script>
  </body>
</html>